#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/led.h>

/ {
	chosen {
		zmk,matrix_transform = &dummy_transform;
	};

	dummy_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <1>;
		rows = <1>;
		map = <
			RC(0,0)
		>;
	};

    leds {
        compatible = "zmk,led-strip";
        label = "LED_STRIP";
        led-gpios = <&xiao_b 13 GPIO_ACTIVE_HIGH>,  // Red
                    <&xiao_b 14 GPIO_ACTIVE_HIGH>,  // Green
                    <&xiao_b 15 GPIO_ACTIVE_HIGH>;  // Blue
        num-leds = <1>;
        color-mapping = <LED_COLOR_ID_RED LED_COLOR_ID_GREEN LED_COLOR_ID_BLUE>;
    };
};
